:root {
    --colour-white: #fff;
    --colour-grey: #D8D8D6;
    --colour-grey-light: #FBFBFA;
    --colour-grey-darker: #CBCBD3;
    --colour-grey-darkest: #3b3b42;
    --colour-green: #5CDFBF;
    --colour-green-lighter: #95fdfd;
    --colour-green-darker: #44BFAA;
    --colour-red: #FC4245;
    --colour-red-lighter: #F26961;
    --colour-red-darker: #DB4342;
    --colour-purple: #3F0752;
    --colour-purple-lighter: #65227B;
    --colour-purple-lightest: #8C4EA0;

    --color_text--link: var(--colour-purple-lighter);
    --color_text--link-alt: var(--colour-purple-lightest);
    --color_text--accent: var(--color_text--link);
    --color_accent: var(--color_text--link);
}

body {
    background-color: var(--colour-grey);
    color: var(--colour-grey-darkest);
}

.page {
    background-color: var(--colour-white);
}

header.main-head {
    background-color: var(--colour-green);
    color: var(--colour-white);
}

header.main-head a {
    text-decoration: none;
    color: var(--colour-white);
}

header.main-head a:hover {
    text-decoration: none;
    color: var(--colour-white);
}

header.main-head a:active {
    text-decoration: none;
    color: var(--colour-white);
}

header.main-head a:visited {
    text-decoration: none;
    color: var(--colour-white);
}

header.main-head h1 {
    text-decoration: none;
    line-height: 0.2;
}

header.main-head img {
    float: left;
    padding: var(--space_4) var(--space_gutter) var(--space_4) var(--space_4);
}

.page__subheader {
    padding-inline: var(--space_grid-gap);
    max-width: var(--width_wide);
}

.page__subheader h2 {
    font-size: 1rem;
}

.error {
    color: var(--form_invalid-color);
}

input.error,
select.error,
button.error {
    border: 1px solid var(--form_invalid-color);
}