{{define "head"}}
    <title>Dashboard - Soda</title>
{{end}}

{{define "subheader"}}
<h2>Databases</h2>
{{end}}

{{define "body"}}
<article class="layout--flow">
<h3>Databases</h3>
    <div class="layout--flow">
        <div class="table-wrapper">
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Server</th>
                    <th>Status?</th>
                </tr>
            </thead>
            <tbody>
                {{ range .Databases }}
                    <tr>
                        <td><a href="/databases/{{ .Name }}">{{ .Name }}</a></td>
                        <td><a href="/servers/{{ .Server }}">{{ .Server }}</a></td>
                        <td>OK</td>
                    </tr>
                {{ end }}
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>

    <footer>
        <a href="/database/new" class="button">New database</a>
    </footer>
</article>

<article class="layout--flow">
<h3>Servers</h3>
    <div class="layout--flow">
        <div class="table-wrapper">
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>IP Address</th>
                    <th>Port</th>
                    <th>Status?</th>
                </tr>
            </thead>
            <tbody>
                {{ range .Databases }}
                    <tr>
                        <tr><a href="/servers/{{ .Name }}">{{ .Name }}</a></tr>
                        <tr>{{ .Type }}</tr>
                        <tr>{{ .IpAddress }}</tr>
                        <tr>{{ .Port }}</tr>
                        <tr>OK</tr>
                    </tr>
                {{ end }}
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>

    <footer>
        <a href="/servers/new" class="button">Add server</a>
    </footer>
</article>
{{end}}