{{define "head"}}
    <title>cola - database details - Soda</title>
{{end}}


{{define "body"}}

<h1>{{ .Name }}</h1>

<div>
    <h2>Database deets</h2>
    <dl>
        <dt>Name</dt>
        <dd>{{ .Name }}</dd>
        <dt>Server</dt>
        <dd>{{ .Server }}</dd>
    </dl>
</div>

{{end}}