{{define "head"}}
    <title>cola - database details - Soda</title>
{{end}}


{{define "body"}}

<h1>cola</h1>

<div>
    <h2>Database deets</h2>
    <dl>
        <dt>Name</dt>
        <dd>cola</dd>
        <dt>Server</dt>
        <dd>db-01</dd>
    </dl>
</div>

{{end}}