{{define "head"}}
    <title>db-01 - server details - Soda</title>
{{end}}


{{define "body"}}

<h1>db-01</h1>

<div>
    <h2>Server details</h2>
    <dl>
        <dt>Name</dt>
        <dd>db-01</dd>
        <dt>Databases</dt>
        <dd>2</dd>
        <dt>IP address</dt>
        <dd>10.0.0.36</dd>
    </dl>
</div>

{{end}}