{{define "head"}}
    <title>{{ .Name }} - server details - Soda</title>
{{end}}


{{define "body"}}

<h1>{{ .Name }}</h1>

<div>
    <h2>Server details</h2>
    <dl>
        <dt>Name</dt>
        <dd>{{ .Name }}</dd>
        <dt>Databases</dt>
        <dd>{{ .Databases }}</dd>
        <dt>IP address</dt>
        <dd>{{ .IpAddress }}</dd>
    </dl>
</div>

{{end}}