{{define "head"}}
    <title>New server - Soda</title>
{{end}}

{{define "subheader"}}
<h2>New<span> / server</span></h2>
{{end}}

{{define "body"}}

<div>
    <p>Enter the server connection details below. 
        The account specified should have permissions to create users and databases.</p>
    <form action="/servers/new" method="post" class="layout--flow">
        <div class="form-field">
            <label for="name">Name</label>
            <input name="name" value="{{ .Name }}" required placeholder="Server name" />
        </div>
        <div class="form-field">
            <label for="ipAddress">Hostname / IP Address</label>
            <input name="ipAddress" value="{{ .IpAddress }}" required placeholder="localhost / 10.0.0.36" />
        </div>
        <div class="form-field">
            <label for="port">Port</label>
            <input name="port" value="{{ .Port }}" required placeholder="3306" />
        </div>
        <div class="form-field">
            <label for="type">Type</label>
            <input name="type" value="mysql" required disabled />
        </div>
        <div class="form-field">
            <label for="username">Username</label>
            <input name="username" value="{{ .Username }}" required placeholder="admin" />
        </div>
        <div class="form-field">
            <label for="password">Password</label>
            <input name="password" value="{{ .Password }}" required placeholder="********" />
        </div>
        <div>
            <button type="submit">Add</button>
        </div>
    </form>
</div>

{{end}}