{{define "head"}}
    <title>{{ .Name }} - server details - Soda</title>
{{end}}


{{define "body"}}
<article class="layout--flow">
    <header>
        <h2>Server details</h2>
    </header>

    <div class="layout--flow">
        <dl>
            <dt>Name</dt>
            <dd>{{ .Name }}</dd>
            <dt>Databases</dt>
            <dd>{{ .Databases }}</dd>
            <dt>IP address</dt>
            <dd>{{ .IpAddress }}</dd>
        </dl>
    </div>
</article>

{{end}}