<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/soda.css">
    
        <link rel="icon" href="/static/favicon.ico" sizes="any">
        <link rel="icon" href="/static/icon.svg" type="image/svg+xml">
        <link rel="apple-touch-icon" href="/static/icon.png">
    
        <meta name="theme-color" content="#DE3163">

        {{block "head" .}}{{end}}

        <script src="/static/htmx.min.js"></script>
    </head>
    
    <body>
        <!-- begin template body -->
        {{block "body" .}}{{end}}
        <!-- end template body -->

        <script src="/static/soda.js"></script>
   
    </body>
  
</html>